@import './colour.css';
@import './font.css';


:root {
    --spacing-xxxs: 4px;
    --spacing-xxs: 8px;
    --spacing-xs: 16px;
    --spacing-sm: 24px;
    --spacing-md: 32px;
    --spacing-lg: 40px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --spacing-xxxl: 96px;

    --page-margin: 64px;
    --content-width: 1312px;
    --small-width: 1900px;


}



.container-full,
.container-content,
.container-small {
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}

.container-full {
  padding-inline: var(--page-margin);
}

.container-content {
  max-width: calc(var(--content-width) + (var(--page-margin) * 2));
  padding-inline: var(--page-margin);
}

.container-small {
  max-width: 900px;
margin: 0 auto;
}

[data-has-hero] header,
.site-header,
.header {
  width: 100%;
}

.header {
  width: 100%;
}

.sl-header {
  padding: 0 !important;
  border-bottom: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.sl-header__content,
.sl-nav,
.sl-flex {
  max-width: none !important;
  padding: 0 !important;
}


.page > header > header {
  all: unset;
}
/* Such Modal */
/* Such Modal */
dialog[open] {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
}

/* oberer Bereich mit Input */
dialog form {
  background: var(--grey);
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
    flex-direction: row-reverse;
}

/* Cancel Button */
dialog button {
  color: var(--green);
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

/* Search Input */
dialog input[type="search"] {
  flex: 1;
  background: var(--white);
  border: 1px solid var(--grey);
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 16px;
}

