---
import HeroCard from "./HeroCard.astro";

export interface Props {
  cards: {
    title: string;
    description: string;
    href: string;
    icon: "book" | "video" | "headphones";
    variant: "primary" | "secondary" | "tertiary";
    wide?: boolean;
  }[];
}

const { cards } = Astro.props;
---

<div class="hero-right">
  <div class="circle circle-top-right"></div>
  <div class="circle circle-left"></div>
  {cards.map((card) => <HeroCard {...card} />)}
</div>
<style>
  .hero-right {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px auto;
    gap: var(--spacing-xs);
    padding-top: var(--spacing-md);
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
  }

  .circle-top-right {
    width: 80px;
    height: 80px;
    background: var(--green);
    top: 0;
    right: -16px;
    opacity: 0.5;
  }

  .circle-left {
    width: 60px;
    height: 60px;
    background: var(--light-green);
    top: 99%;
    left: -24px;
    transform: translateY(-50%);
    opacity: 0.5;
  }

  @media (max-width: 640px) {
    .hero-right {
      grid-template-columns: 1fr;
    }

    .circle-left {
      display: none;
    }
  }
</style>
